nav{
  background: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  a{
    color: white;
  }
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
