.card {
  width: 200px;
  span.first-letter::first-letter{
    text-transform: uppercase;
  }
  .img-container {
    border: 1px solid rebeccapurple;
    background-color: white;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      img{
        animation: scaleUp .5s forwards;
      }
    }
  }

  .card-bottom {
    display: flex;
    justify-content: space-between;

    .text-container {
      display: flex;
      flex-direction: column;
    }
  }
  .favoris-btn{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rebeccapurple;
    background: rebeccapurple;
    color: white;
    width: 100%;
  }
}


@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
