.card {
  width: 200px;

  .img-container {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-bottom {
    display: flex;
    justify-content: space-between;

    .text-container {
      display: flex;
      flex-direction: column;
    }
  }

}
