.register-container {
  text-align: center;
  width: 20%;
  margin: auto;

  h2 {
    margin-bottom: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
